/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/

/*---------------------------------------/*
 # GENERIC - BOOTSTRAP
/*---------------------------------------*/

/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/

/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/
.c-benadering {
  background-color: $color-grey-background;
  margin-top: 8rem;
  &__visie {
    color: $color-white;
    background-color: $color-primary-blue;
    opacity: 80%;
    padding: 1.5rem;
  }
}
/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/
