/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/
@keyframes wiggle {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
/*---------------------------------------/*
 # GENERIC - BOOTSTRAP
/*---------------------------------------*/
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 150px;
}
/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/

/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/
.c-card {
  border: none;
  border-radius: 0rem;
  margin-bottom: 4rem;
  margin-top: 2rem;
  padding: 1rem;
  box-shadow: 4px 4px 20px 2px rgba(0, 0, 0, 0.2);

  &__avatar {
    margin-top: -4rem;
    margin-bottom: 1rem;
  }

  &__avatar img {
    box-shadow: 4px 4px 12px 2px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    overflow: hidden;
    width: 90px;
    height: 90px;
    object-fit: cover;
  }
  &__arrow a {
    font-size: 1.875rem;
    color: $color-black;
  }
  &__btn {
    font-size: 2.1rem;
    border: none;
    color: $color-primary-blue;
    font-weight: $fw-medium;
    background: none;
    animation: wiggle 2.3s ease-in-out infinite;
    &--rotate {
      rotate: 180deg;
    }
  }
}
.c-hidden {
  display: none;
}
/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/
