/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/

/*---------------------------------------/*
 # GENERIC - BOOTSTRAP
/*---------------------------------------*/

/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/
header {
  background-color: rgba(128, 128, 128, 0.5);
  color: $color-white;
}
/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/

/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/
.c-header {
  &__title {
    font-size: $header-title;
    font-weight: $fw-semibold;
    margin-top: 7.3rem;
  }
  &__quote {
    margin-top: -1rem;
    font-size: $header-quote;
  }
}

/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/
