/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/

/*---------------------------------------/*
 # GENERIC - BOOTSTRAP
/*---------------------------------------*/
.nav-link {
  color: $color-white;
}
.navbar-nav .nav-link.active {
  color: $color-white;
}
/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/

/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/
.c-nav {
  background-color: $color-primary-blue;
}
/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/
