/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/

/*---------------------------------------/*
 # GENERIC - BOOTSTRAP
/*---------------------------------------*/
.nav-link {
  color: $color-white;
  font-size: 1.2rem;
}
.navbar-nav .nav-link.active {
  color: $color-white;
}
/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/

/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/
.c-nav {
  background-color: $color-primary-blue;
  &__active {
    text-decoration: underline 0.125rem;
    color: $color-white;
  }
}
/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/
