/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/

/*---------------------------------------/*
 # GENERIC - BOOTSTRAP
/*---------------------------------------*/

/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/

/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/
.c-footer {
  color: $color-white;
  background-color: $color-primary-blue;
  margin-top: 6.3rem;
  &__projecten {
    margin-top: 1.8rem;
  }
}
/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/
