/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/

/*---------------------------------------/*
 # GENERIC - BOOTSTRAP
/*---------------------------------------*/

/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/

/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/
.c-benadering {
  background-color: $color-grey-background;
  padding-bottom: 3rem;
  &__visie {
    margin-top: 3rem;
    margin-left: -3rem;
    color: $color-white;
    background-color: $color-primary-blue;
    opacity: 80%;
    padding: 1.5rem;
    @media (max-width: 992px) {
      margin-top: 1rem;
      margin-left: 0;
    }
  }
  &__doelen {
    margin-top: 5rem;
    margin-right: -3rem;
    color: $color-white;
    background-color: $color-primary-blue;
    opacity: 80%;
    padding: 1.5rem;
    @media (max-width: 992px) {
      margin-right: 0;
    }
  }
  &__collection1 {
    @media (min-width: 1400px) {
      justify-content: center;
    }
  }
  &__collection2 {
    margin-top: 6rem;
    @media (min-width: 1400px) {
      justify-content: center;
    }
  }
  &__btn {
    transition: 0.2s;
    background-color: $color-secondary-blue;
    padding: 1.3rem;
    font-size: $button-size;
    text-decoration: none;
    color: $color-white;
    font-weight: $fw-light;
    position: relative;

    z-index: 1;
    &::before {
      content: ' ';
      position: absolute;
      padding: 1rem;
      top: 20%;
      left: 4%;
      width: 100%;
      height: 100%;
      background-color: $color-primary-blue;
      z-index: -1;

    }
  }
}
/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/
