//colors
$color-primary-blue: #44c8f5;
$color-secondary-blue: #6fcae9;
$color-tertiare-blue: #7dd8f8;
$color-white: #fff;
$color-grey: #adadad;
$color-light-grey: #f2f2f2;
$color-black: black;
$color-grey-background: rgba(118, 118, 118, 0.5);

//font-sizes
$header-title: 3rem;
$header-quote: 2.3rem;
$news-title: 2rem;
$button-size: 1.5rem;
$team-text: 0.05rem;

//font-weights
$fw-light: 200;
$fw-regular: 300;
$fw-medium: 400;
$fw-semibold: 470;
$fw-bold: 600;
