//colors
$color-primary-blue: #44c8f5;
$color-secondary-blue: #6fcae9;
$color-blue-contact: #7ED9F8;
$color-white: #fff;
$color-grey: #adadad;
$color-light-grey: #f2f2f2;
$color-black: black;
$color-grey-background: rgba(128, 128, 128, 0.5);

//font-sizes
$header-title: 3rem;
$header-quote: 2.5rem;
$button-size: 1.5rem;
$team-text: 0.05rem;

//font-weights
$fw-light: 200;
$fw-regular: 300;
$fw-medium: 400;
$fw-semibold: 600;
$fw-bold: 600;
