$color-primary-blue: #44c8f5;
$color-white: #fff;
$color-grey: #adadad;
$color-grey-background: rgba(128, 128, 128, 0.5);

$header-title: 3rem;
$header-quote: 2rem;

//font-weights
$fw-light: 200;
$fw-regular: 300;
$fw-medium: 400;
$fw-semibold: 600;
$fw-bold: 600;
